# ignore all files and directories
*

# include only the following
!docs/
!docs/*
!vortexdm/
!vortexdm/*.py
!ChangeLog.txt
!contributors.md
!LICENSE
!vortexdm.py
!README.md
!requirements.txt
!setup.py
!pyproject.toml
!.gitignore
!.gitattributes
!scripts/
!scripts/exe_build/
!scripts/exe_build/exe-fullbuild.py
!scripts/exe_build/exe-quickbuild.py
!icons/
!icons/*